# Istio Ingress Gateway Custom Values
# -----------------------------------
# This file contains custom values used for configuring Istio's Ingress Gateway.
# It is tailored for a non-cloud environment, where no load balancer or public IPs are available.

# Service Configuration
# ---------------------
# This section defines the service type and the ports exposed by the Istio Ingress Gateway.
# The 'NodePort' service type is used to make the Ingress Gateway accessible externally via
# specific ports on all nodes in the Kubernetes cluster.
#
# Notes:
# - 'NodePort' allows access to the Ingress Gateway via specific ports (30080 for HTTP).

service:
  type: {{ istio.ingress_gateway.service.type }}
  ports:
    - port: {{ istio.ingress_gateway.service.ports[0].port }}
      targetPort: {{ istio.ingress_gateway.service.ports[0].targetPort }}
      nodePort: {{ istio.ingress_gateway.service.ports[0].nodePort }}
      name: {{ istio.ingress_gateway.service.ports[0].name }}

